<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
	  <add key="serviceAddress" value="http://localhost:8080"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logFile" type="File"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring,data:exceptionDataSeparator=\r\n}"
			fileName="${basedir}/logs/${shortdate}_log.txt"
			keepFileOpen="false"
			archiveAboveSize="20971520"
			maxArchiveFiles="15"
			maxArchiveDays="7"
			encoding="utf-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile" />
	</rules>
  </nlog>
  <connectionStrings>	
	<add name="CustomWrapupCodeDatabase" connectionString="Server=localhost;Database=lsi;User Id=test;Password=In1n2oia*;" />
  </connectionStrings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
